/*------Font----*/
.g-h-font {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.g-n-font {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*-----Font----*/

/*------Color----*/
.text-pro {
    color: #4A4A4A;
}

.gold {
    color: #F59E0B;
}

.ash-color {
    color: #777777;
}

.bg-screen {
    background-color: #F4FAFD;
}

.bg-primary-1 {
    background-color: #289BDE;
}

/*------Color----*/


/* ---GAP---*/
.ms-10 {
    margin-left: 36rem;
}



.gx-7 {
    --bs-gutter-x: 5rem;
}

.mt-7 {
    margin-top: 12rem;
}

/* ---GAP---*/